<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Infraestructura y Servicios</ion-title>
    <ion-buttons slot="end">
      <!-- Botón de retroceso (flecha) al final -->
      <ion-back-button defaultHref="/urbanos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <div class="grid-container">
      <!-- Tipología del Predio -->
      <ion-card class="responsive-card">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="home-outline"></ion-icon> Topología del Predio
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="full">
            <ion-label position="floating">Ocupación</ion-label>
            <ion-select [(ngModel)]="selectedOcupacion" interface="popover">
              <ion-select-option *ngFor="let item of ocupacion" [value]="item.REN21CODI">
                {{ item.REN21DESC }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" class="lb">Tipo Terreno</ion-label>
            <ion-select [(ngModel)]="selectedTerreno">
              <ion-select-option *ngFor="let item of terreno" [value]="item.REN21CODI">{{ item.REN21DESC
                }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" class="lb">Topografía</ion-label>
            <ion-select [(ngModel)]="selectedTopografia">
              <ion-select-option *ngFor="let item of topografia" [value]="item.REN21CODI">{{ item.REN21DESC
                }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" class="lb">Localización</ion-label>
            <ion-select [(ngModel)]="selectedLocaliza">
              <ion-select-option *ngFor="let item of localiza" [value]="item.REN21CODI">{{ item.REN21DESC
                }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" class="lb">Forma</ion-label>
            <ion-select [(ngModel)]="selectedForma">
              <ion-select-option *ngFor="let item of forma" [value]="item.REN21CODI">{{ item.REN21DESC
                }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" class="lb">Vías Uso</ion-label>
            <ion-select [(ngModel)]="selectedViasUso">
              <ion-select-option *ngFor="let item of viasuso" [value]="item.REN21CODI">{{ item.REN21DESC
                }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" class="lb">Vías Material</ion-label>
            <ion-select [(ngModel)]="selectedViasMate">
              <ion-select-option *ngFor="let item of viasmate" [value]="item.REN21CODI">{{ item.REN21DESC
                }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <!-- Servicios -->
      <ion-card class="responsive-card">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="settings-outline"></ion-icon> Servicios
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Agua -->
          <ion-item class="services-item">
            <ion-icon name="water-outline" slot="start" class="icon"></ion-icon>
            <ion-label>Agua</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="aguaDisponible"></ion-checkbox>
          </ion-item>

          <!-- E. Eléctrica -->
          <ion-item class="services-item">
            <ion-icon name="flash-outline" slot="start" class="icon"></ion-icon>
            <ion-label>E. Eléctrica</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="electricaDisponible"></ion-checkbox>
          </ion-item>

          <!-- Alcantarillado -->
          <ion-item class="services-item">
            <ion-icon name="rainy-outline" slot="start" class="icon"></ion-icon>
            <ion-label>Alcantarillado</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="alcantarilladoDisponible"></ion-checkbox>
          </ion-item>

          <!-- Aseo Calle -->
          <ion-item class="services-item">
            <ion-icon name="brush-outline" slot="start" class="icon"></ion-icon>
            <ion-label>Aseo Calle</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="aseoCalleDisponible"></ion-checkbox>
          </ion-item>

          <!-- Acera -->
          <ion-item class="services-item">
            <ion-icon name="walk-outline" slot="start" class="icon"></ion-icon>
            <ion-label>Acera</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="aceraDisponible"></ion-checkbox>
          </ion-item>

          <!-- Recolección Basura -->
          <ion-item class="services-item">
            <ion-icon name="cube-outline" slot="start" class="icon"></ion-icon>
            <ion-label>Bordillo</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="bordilloDisponible"></ion-checkbox>
          </ion-item>

          <ion-item class="services-item">
            <ion-icon name="trash-outline" slot="start" class="icon"></ion-icon>
            <ion-label>Recolección Basura</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="recoleccionBasura"></ion-checkbox>
          </ion-item>

        </ion-card-content>
      </ion-card>

    </div>

    <!-- Infraestructura -->
    <ion-card class="responsive-card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="build-outline"></ion-icon> Infraestructura
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Número de Personas -->
        <ion-item class="infrastructure-item">
          <ion-icon name="people-outline" slot="start" class="icon"></ion-icon>
          <ion-label>Número de Personas</ion-label>
          <ion-input [(ngModel)]="selectedNumeroPersonas" class="input-small"></ion-input>
        </ion-item>

        <!-- Área T. Documentos -->
        <ion-item class="infrastructure-item">
          <ion-icon name="document-text-outline" slot="start" class="icon"></ion-icon>
          <ion-label>Área T. Documentos</ion-label>
          <ion-input [(ngModel)]="selectedAreaDocumentos" class="input-small"></ion-input>
        </ion-item>

        <!-- Frente Principal -->
        <ion-item class="infrastructure-item">
          <ion-icon name="resize-outline" slot="start" class="icon"></ion-icon>
          <ion-label>Frente Principal</ion-label>
          <ion-input [(ngModel)]="selectedFrentePrincipal" class="input-small"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button expand="full" color="primary" (click)="guardarCambios()">
        Guardar Cambios
      </ion-button>
    </ion-card>



  </div>
</ion-content>