<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Toma Lecturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Gota de agua -->
  <div class="logo-container">
    <ion-icon name="water" color="primary"></ion-icon>
  </div>

  <!-- Tarjetas en cuadrícula -->
  <div class="grid-container">
    <ion-card class="custom-card" [routerLink]="('/sincronizar')">
      <ion-card-header>
        <ion-card-title>Sincronizar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="sync" color="warning"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card" [routerLink]="('/busqueda-medidor')">
      <ion-card-header>
        <ion-card-title>Busqueda Medidor</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="search" color="secondary"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card" [routerLink]="('/tomalectura')">
      <ion-card-header>
        <ion-card-title>Toma Lectura</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="clipboard" color="danger"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card" [routerLink]="('/corrigelectura')">
      <ion-card-header>
        <ion-card-title>Corrige Lectura</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="create" color="tertiary"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card" [routerLink]="('/ajustes')">
      <ion-card-header>
        <ion-card-title>Ajustes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="settings" color="success"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card" [routerLink]="('/lec-rapida')">
      <ion-card-header>
        <ion-card-title>Lectura Rápida</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="barcode" color="primary"></ion-icon>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>