<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Control Acceso</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-container" [ngStyle]="{'background-image': 'url(' + imagenLogin + ')'}">
    <div class="form-container">
      <ion-button expand="block" (click)="testConnection()">Probar Conexión</ion-button>

      <h2>CONFIGURACION DOMINIO/PUERTO</h2>

      <ion-item>
        <ion-label position="stacked">IP/Dominio Anterior</ion-label>
        <ion-input [value]="currentDomain" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Puerto Anterior</ion-label>
        <ion-input [value]="currentPort" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nuevo Dominio</ion-label>
        <ion-input [(ngModel)]="newDomain" placeholder="Ingrese nuevo dominio"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nuevo Puerto</ion-label>
        <ion-input [(ngModel)]="newPort" placeholder="Ingrese nuevo puerto"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="saveConfig()">Guardar</ion-button>
    </div>
  </div>
</ion-content>