ion-content {
    --background: transparent;
    height: 100%;
    overflow: hidden;
}

.form-container h2 {
    color: #3880ff;
    font-size: 6vw;
    /* Se ajusta el tamaño en función del ancho de la pantalla */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.background-container {
    background-image: url('/assets/img/login2.jpeg');
    background-size: cover;
    /* La imagen cubre toda el área disponible */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* No repite la imagen */
    background-attachment: fixed;
    /* Fija la imagen al hacer scroll */
    height: 100vh;
    /* Asegura que ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.ecabildo-text {
    font-size: 10vw;
    /* Tamaño dinámico basado en el ancho de la ventana */
    font-weight: bold;
    color: #3880ff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.welcome-message {
    text-align: center;
    margin-bottom: 20px;
}

ion-item {
    margin-bottom: 15px;
}

ion-label {
    color: #3880ff;
}

ion-input {
    font-size: 16px;
}

ion-button {
    color: white;
    font-weight: bold;
}

ion-button[expand="full"] {
    margin-top: 20px;
}

ion-select {
    font-size: 16px;
}

.connect-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: black;
}

.connect-button ion-icon {
    margin-left: 8px;
    font-size: 20px;
    color: black;
}

.connect-button:hover {
    background-color: #f0f0f0;
    color: #3880ff;
}

.connect-button:hover ion-icon {
    color: #3880ff;
}

ion-buttons[slot="end"] {
    display: flex;
    align-items: center;
    color: black;
}

ion-icon[name="lock-closed"] {
    color: black;
    font-size: 24px;
}

ion-button[fill="clear"] {
    --background: transparent;
    --padding-start: 0;
    --padding-end: 0;
}

ion-icon[name="eye"] {
    font-size: 30px;
    color: #3880ff;
}

ion-button[fill="clear"]:hover ion-icon[name="eye"] {
    color: #ff5733;
}

ion-button[fill="clear"]:active ion-icon[name="eye"] {
    color: #ff9a3d;
}

/* Media Queries para dispositivos móviles y pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .ecabildo-text {
        font-size: 12vw;
        /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }

    .form-container h2 {
        font-size: 7vw;
        /* Ajusta el tamaño del título para pantallas pequeñas */
    }

    ion-card {
        width: 90%;
        max-width: 100%;
    }

    .logo-container {
        margin-bottom: 10px;
    }

    ion-input,
    ion-select {
        font-size: 14px;
    }

    ion-button[expand="full"] {
        margin-top: 10px;
    }
}

/* Media Queries para dispositivos Tablet y pantallas más grandes */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .ecabildo-text {
        font-size: 8vw;
        /* Ajusta el tamaño de la fuente para tablets */
    }

    .form-container h2 {
        font-size: 5vw;
        /* Ajusta el tamaño del título para tablets */
    }

    ion-card {
        width: 80%;
        max-width: 700px;
    }

    ion-input,
    ion-select {
        font-size: 15px;
    }
}

/* Media Queries para pantallas grandes como desktop */
@media only screen and (min-width: 1025px) {
    .ecabildo-text {
        font-size: 6vw;
        /* Ajusta el tamaño de la fuente para pantallas grandes */
    }

    .form-container h2 {
        font-size: 3vw;
        /* Ajusta el tamaño del título para pantallas grandes */
    }

    ion-card {
        width: 60%;
        max-width: 700px;
    }

    ion-input,
    ion-select {
        font-size: 18px;
    }
}