/* Estilos generales para el fondo */
.background-container {
    background-image: url('/assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para el formulario */
.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo blanco semi-transparente */
    padding: 16px;
    width: 90%;
    max-width: 500px;
    /* Ancho máximo para el formulario */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--ion-color-primary);
}

/* Estilo de los items del formulario */
ion-item {
    margin-bottom: 15px;
}

ion-button {
    margin-top: 20px;
}

/* Media Queries para hacerlo responsivo */
@media only screen and (max-width: 768px) {

    /* Ajustar el fondo y el formulario en dispositivos pequeños */
    .background-container {
        height: auto;
        /* El fondo no necesita cubrir toda la altura */
        padding: 20px;
    }

    .form-container {
        width: 100%;
        padding: 15px;
    }

    h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    ion-item {
        margin-bottom: 12px;
    }

    ion-button {
        margin-top: 15px;
        font-size: 14px;
        /* Ajusta el tamaño del botón */
    }
}

@media only screen and (min-width: 769px) {

    /* Ajustes para pantallas de tablets y escritorios */
    .background-container {
        padding: 40px;
    }

    .form-container {
        width: 60%;
        /* Ancho más grande en pantallas grandes */
    }

    h2 {
        font-size: 26px;
        margin-bottom: 25px;
    }

    ion-button {
        margin-top: 30px;
    }
}