/* Estilo para el contenedor general */
ion-header {
    --background: #007bff;
    --color: white;
    padding-top: 20px;
    height: auto;
}

/* Estilos para el toolbar */
ion-toolbar {
    --background: #007bff;
    --color: white;
    padding-top: 8px;
    padding-bottom: 16px;
    height: auto;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f4f5f8;

    .dropdown-container {
        ion-item {
            --background: #fff;
            --border-radius: 10px;
            margin-bottom: 10px;

            ion-label {
                font-weight: bold;
                color: #3d7ff3;
            }
        }
    }

    .filter-container {
        margin-bottom: 10px;

        ion-item {
            --background: #fff;
            --border-radius: 10px;
            margin-bottom: 10px;

            ion-label {
                font-weight: bold;
                color: #3d7ff3;
            }

            ion-select {
                --placeholder-color: #7a7a7a;
                --color: #000;
            }
        }

        ion-item {
            ion-label {
                position: floating;
            }

            ion-input {
                width: 100%;
                --padding-start: 10px;
            }
        }
    }

    .record-container {
        margin-top: 20px;

        ion-card {
            margin-bottom: 15px;
            border: 1px solid #3d7ff3;
            --border-radius: 10px;

            ion-card-content {
                font-size: 14px;
                line-height: 1.6;
                color: #000;

                p {
                    margin: 5px 0;
                }

                strong {
                    color: #3d7ff3;
                }
            }
        }
    }

    .footer {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        ion-chip {
            --background: #3d7ff3;
            --color: #fff;

            ion-icon {
                margin-right: 5px;
            }
        }
    }
}