<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Construcción</ion-title>
    <ion-buttons slot="end">
      <!-- Botón de retroceso (flecha) al final -->
      <ion-back-button defaultHref="/urbanos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <!-- Bloque y Piso -->
    <ion-row>
      <ion-col size="3">
        <ion-label>Gid Bloque</ion-label>
        <ion-input type="text" [(ngModel)]="bloque.gid"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-label>Nro. Piso</ion-label>
        <ion-input type="number" [(ngModel)]="bloque.piso"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-label>Nro. Bloq.</ion-label>
        <ion-input type="number" [(ngModel)]="bloque.bloque"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-label>Año Const.</ion-label>
        <ion-input type="number" [(ngModel)]="bloque.bloque"></ion-input>
      </ion-col>
    </ion-row>

    <!-- Estructura de la Edificación -->
    <ion-row>
      <ion-col>
        <h2>Estructura de la Edificación</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Estado Const.</ion-label>
        <ion-select [(ngModel)]="estructura.estado">
          <ion-select-option value="01-Estable">01-Estable</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Estructura</ion-label>
        <ion-select [(ngModel)]="estructura.tipo">
          <ion-select-option value="01-Aporticado">01-Aporticado</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Columnas</ion-label>
        <ion-select [(ngModel)]="estructura.columnas">
          <ion-select-option value="02-Hormigón Armado">02-Hormigón Armado</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Vigas</ion-label>
        <ion-select [(ngModel)]="estructura.vigas">
          <ion-select-option value="02-Hormigón Armado">02-Hormigón Armado</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Entre Piso</ion-label>
        <ion-select [(ngModel)]="estructura.entrepiso">
          <ion-select-option value="02-Hormigón Armado">02-Hormigón Armado</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Paredes</ion-label>
        <ion-select [(ngModel)]="estructura.paredes">
          <ion-select-option value="11-Bloque">11-Bloque</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Escaleras</ion-label>
        <ion-select [(ngModel)]="estructura.escaleras">
          <ion-select-option value="02-Hormigón Armado">02-Hormigón Armado</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Cubierta</ion-label>
        <ion-select [(ngModel)]="estructura.cubierta">
          <ion-select-option value="02-Hormigón Armado">02-Hormigón Armado</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- Acabados Edificación -->
    <ion-row>
      <ion-col>
        <h2>Acabados Edificación</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Tumbados</ion-label>
        <ion-select [(ngModel)]="acabados.tumbados">
          <ion-select-option value="17-Arena-Cemento">17-Arena-Cemento</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Puertas</ion-label>
        <ion-select [(ngModel)]="acabados.puertas">
          <ion-select-option value="08-Madera Común">08-Madera Común</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Cubre Ventanas</ion-label>
        <ion-select [(ngModel)]="acabados.cubre_ventanas">
          <ion-select-option value="01-No tiene">01-No tiene</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Rev. Interior</ion-label>
        <ion-select [(ngModel)]="acabados.rev_interior">
          <ion-select-option value="17-Arena-Cemento">17-Arena-Cemento</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Rev. Exterior</ion-label>
        <ion-select [(ngModel)]="acabados.rev_exterior">
          <ion-select-option value="01-No tiene">01-No tiene</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Rev. Pisos</ion-label>
        <ion-select [(ngModel)]="acabados.rev_pisos">
          <ion-select-option value="17-Arena-Cemento">17-Arena-Cemento</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Rev. Escalera</ion-label>
        <ion-select [(ngModel)]="acabados.rev_escalera">
          <ion-select-option value="17-Arena-Cemento">17-Arena-Cemento</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Cubie. Acabados</ion-label>
        <ion-select [(ngModel)]="acabados.cubie_acabados">
          <ion-select-option value="17-Arena-Cemento">17-Arena-Cemento</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Ventanas</ion-label>
        <ion-select [(ngModel)]="acabados.ventanas">
          <ion-select-option value="06-Hierro">06-Hierro</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Closets</ion-label>
        <ion-select [(ngModel)]="acabados.closets">
          <ion-select-option value="01-No tiene">01-No tiene</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Instalaciones</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Sanitaria</ion-label>
        <ion-select [(ngModel)]="acabados.ventanas">
          <ion-select-option value="06-Hierro">51-Canalizacion Combinado</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Nro. Baños</ion-label>
        <ion-select [(ngModel)]="acabados.closets">
          <ion-select-option value="01-No tiene">56-Dos Baños</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Electricas</ion-label>
        <ion-select [(ngModel)]="acabados.ventanas">
          <ion-select-option value="06-Hierro">62-Empotradas</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label>Especiales</ion-label>
        <ion-select [(ngModel)]="acabados.closets">
          <ion-select-option value="01-No tiene"></ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>


    <!-- Botón de Guardado -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="guardarConstruccion()">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-grid>
</ion-content>