
/* Estilo para el ítem seleccionado */
ion-item.selected {
    background-color: #5478fd !important;
    color: rgb(0, 0, 0);

    ion-icon,
    ion-label {
        color: #5478fd;
    }
}

/* ==========================
    EFECTOS RESPONSIVOS
========================== */
@media (max-width: 768px) {
    ion-menu {
        width: 80%;
    }
}

@media (min-width: 769px) {
    ion-menu {
        width: 300px;
    }
}