<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sincronizar</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/lectura"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
      <div class="icon-container">
        <ion-icon name="water" class="icon"></ion-icon>
      </div>
      <div class="button-container">
        <ion-button expand="block" color="primary" (click)="limpiarLecturas()">Limpiar</ion-button>
        <ion-button expand="block" color="primary" (click)="obtenerDatos()">Obtener Lecturas</ion-button>
        <ion-button expand="block" color="primary" (click)="actualizarLecturas()">Actualizar Lecturas</ion-button>
      </div>
    </div>
</ion-content>