<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Icono de gota grande -->
    <div class="icon-container">
      <ion-icon name="water" class="icon"></ion-icon>
    </div>
    
    <div class="form-container">
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>
      
      <ion-button expand="block" color="primary" (click)="login()">Iniciar sesión</ion-button>
    </div>
  </div>
</ion-content>