<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Toma Lectura</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/lecturagt"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let registro of registros">
    <ion-card-header>
      <!-- Título de la tarjeta -->
    </ion-card-header>
    <ion-card-content>
      <p>{{ registro.TARIFA }}</p>
      <p>{{ registro.RUTA }}</p>
      <p><strong>Nro. Cuenta:</strong> {{ registro.NRO_CUENTA }}</p>
      <p><strong>Nro. Medidor:</strong> {{ registro.NRO_MEDIDOR }}</p>
      <ion-separator></ion-separator>
      <p><strong>Consumidor:</strong> {{ registro.CONSUMIDOR }}</p>
      <p><strong>Dirección:</strong> {{ registro.DIRECCION }}</p>
      <ion-separator></ion-separator>
      <p><strong>Secuencia:</strong> {{ registro.SEQUENCIA }}</p>
      <input type="number" [(ngModel)]="registro.LECT_ACTUAL" placeholder="Ingrese la lectura" required />
      
      <ion-separator></ion-separator>

      <!-- Causa -->
      <ion-item>
        <ion-label>Causa</ion-label>
        <ion-select [(ngModel)]="registro.TIPOCAUSA" placeholder="Selecciona una causa" required>
          <ion-select-option *ngFor="let causa of causas" [value]="causa.REN21SUBF">
            {{ causa.REN21DESC }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Novedad -->
      <ion-item>
        <ion-label>Novedad</ion-label>
        <ion-select [(ngModel)]="registro.TIPONOVEDAD" placeholder="Selecciona una novedad" required>
          <ion-select-option *ngFor="let novedad of novedades" [value]="novedad.REN21SUBF">
            {{ novedad.REN21DESC }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Cargar imágenes -->
      <div class="photo-container">
        <ion-item button (click)="takePhoto(1)" class="photo-item">
          <ion-icon name="camera" size="large"></ion-icon>
          <span>Tomar Foto 1</span>
        </ion-item>

        <ion-item button (click)="takePhoto(2)" class="photo-item">
          <ion-icon name="camera" size="large"></ion-icon>
          <span>Tomar Foto 2</span>
        </ion-item>

        <!-- Mostrar las imágenes tomadas -->
        <div *ngIf="image1">
          <img [src]="image1" alt="Imagen 1" width="100%" />
        </div>

        <div *ngIf="image2">
          <img [src]="image2" alt="Imagen 2" width="100%" />
        </div>
      </div>


      <textarea [(ngModel)]="detalle" placeholder="Ingrese los detalles de la incidencia"></textarea>


      <!-- Botón para guardar -->
      <ion-button expand="full" (click)="guardarImagenes(); guardarLectura(registro)">Guardar</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Mensaje si no hay registros -->
  <p *ngIf="registros.length === 0">No hay registros para mostrar.</p>

</ion-content>