.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f4f5f8;

    .filter-container {
        margin-bottom: 10px;

        ion-item {
            --background: #fff;
            --border-radius: 10px;

            ion-label {
                font-weight: bold;
                color: #000;
            }

            ion-select {
                --placeholder-color: #3d7ff3;
                --color: #000;
            }
        }
    }


    .dropdown-container {
        ion-item {
            --background: #fff;
            --border-radius: 10px;
            margin-bottom: 10px;

            ion-label {
                font-weight: bold;
                color: #000;
            }
            

        }
    }

    .record-container {
        ion-card {
            margin-bottom: 10px;
            border: 1px solid #3d7ff3;
            --border-radius: 10px;

            ion-card-content {
                font-size: 14px;
                line-height: 1.6;
                color: #000;

                p {
                    margin: 5px 0;
                }

                strong {
                    color: #3d7ff3;
                }
            }
        }
    }

    .footer {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        ion-chip {
            --background: #28a745;
            --color: #fff;

            ion-icon {
                margin-right: 5px;
            }
        }
    }
}