<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Predio Urbano</ion-title>
        <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <div class="logo-container">
    <ion-icon name="leaf" color="primary"></ion-icon>
  </div>


  <!-- Tarjetas en cuadrícula -->
  <div class="grid-container">
    <ion-card class="custom-card" [routerLink]="('/sincronizarU')">
      <ion-card-header>
        <ion-card-title>Sincronizar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="sync" color="warning"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card" [routerLink]="('/busqueda-geocodigo')">
      <ion-card-header>
        <ion-card-title>Busqueda GeoCodigo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="search" color="secondary"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card" [routerLink]="('/lista-purbanos')">
      <ion-card-header>
        <ion-card-title>Identificación Predial</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="clipboard" color="danger"></ion-icon>
      </ion-card-content>
    </ion-card>

<!--     <ion-card class="custom-card" [routerLink]="('/infraestructura')">
      <ion-card-header>
        <ion-card-title>Infraestructura Servicios/Terrenos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="create" color="tertiary"></ion-icon>
      </ion-card-content>
    </ion-card> -->

  </div>
</ion-content>