/* Fondo y Contenedor Principal */
.background-container {
    background-image: url('/assets/img/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Logo */
.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo-container ion-icon {
    font-size: 10vw; /* Ajuste dinámico basado en el tamaño de la pantalla */
    width: 10vw;
    height: 10vw;
}

/* Grid de Tarjetas */
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Por defecto, 1 columna en pantallas pequeñas */
    gap: 15px;
    padding: 10px;
    width: 100%;
}

/* Tarjetas */
.custom-card {
    text-align: center;
    background-color: #e7dfec;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-color: #5478fd;
    padding: 10px;
}

.custom-card ion-card-header {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.custom-card ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: #666;
}

.custom-card ion-icon {
    font-size: 5vw; /* Ajuste de tamaño de icono basado en el tamaño de la pantalla */
    margin-bottom: 10px;
}

/* Tablets: 2 columnas */
@media (min-width: 481px) and (max-width: 1024px) {
    .logo-container ion-icon {
        font-size: 15vw; /* Tamaño más grande para icono en tablet */
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en tablets */
    }

    .custom-card ion-card-header {
        font-size: 1.5rem; /* Aumentar el tamaño de los textos */
    }

    .custom-card ion-icon {
        font-size: 7vw; /* Iconos más grandes en tablets */
    }
}

/* Pantallas grandes (3 columnas) */
@media (min-width: 1025px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
    }

    .logo-container ion-icon {
        font-size: 8vw; /* Iconos más pequeños en pantallas grandes */
    }

    .custom-card ion-card-header {
        font-size: 1.8rem;
    }

    .custom-card ion-icon {
        font-size: 5vw; /* Iconos más pequeños en pantallas grandes */
    }
}
