<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Lectura Rápida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Buscar Por Nro Cuenta</ion-label>
    <ion-input [(ngModel)]="nroCuenta" placeholder="Ingresa el Nro de Cuenta" clearInput></ion-input>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="buscar()">
    Buscar
  </ion-button>
</ion-content>