
ion-content {
  --background: transparent;
  height: 100%;
  overflow: hidden;
}

.background-container {
  background-image: url('/assets/img/login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95.4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Previene el scroll */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.ecabildo-text {
  font-size: 70px;
  font-weight: bold;
  color: #3880ff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.welcome-message {
  text-align: center;
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 15px;
}

ion-label {
  color: #3880ff;
}

ion-input {
  font-size: 16px;
}

ion-button {
  color: white;
  font-weight: bold;
}

ion-button[expand="full"] {
  margin-top: 20px;
}

ion-select {
  font-size: 16px;
}

.connect-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
}

.connect-button ion-icon {
  margin-left: 8px;
  font-size: 20px;
  color: black;
}

.connect-button:hover {
  background-color: #f0f0f0;
  color: #3880ff;
}

.connect-button:hover ion-icon {
  color: #3880ff;
}

ion-buttons[slot="end"] {
  display: flex;
  align-items: center;
  color: black;
}

ion-icon[name="lock-closed"] {
  color: black;
  font-size: 24px;
}

ion-button[fill="clear"] {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
}

ion-icon[name="eye"] {
  font-size: 30px;
  color: #3880ff;
}

ion-button[fill="clear"]:hover ion-icon[name="eye"] {
  color: #ff5733;
}

ion-button[fill="clear"]:active ion-icon[name="eye"] {
  color: #ff9a3d;
}

/* Media Queries para dispositivos Tablet y pantallas más grandes */

@media only screen and (max-width: 768px) {
  .ecabildo-text {
    font-size: 50px;
  }

  ion-card {
    width: 80%;
    max-width: 600px;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  ion-input,
  ion-select {
    font-size: 14px;
  }

  ion-button[expand="full"] {
    margin-top: 10px;
  }
}

/* Media Queries para pantallas más grandes como desktop */

@media only screen and (min-width: 769px) {
  .ecabildo-text {
    font-size: 80px;
  }

  ion-card {
    width: 60%;
    max-width: 700px;
  }

  .logo-container {
    margin-bottom: 30px;
  }

  ion-input,
  ion-select {
    font-size: 18px;
  }
}