<ion-content>
  <div class="container">
    <!-- Ruta Actual -->
    <div class="dropdown-container">
      <ion-item>
        <ion-label>Ruta Actual:</ion-label>
        <ion-select [(ngModel)]="rutaSeleccionada" placeholder="Seleccionar ruta" (ionChange)="cargarRegistros()">
          <ion-select-option *ngFor="let ruta of rutasDisponibles" [value]="ruta">
            {{ ruta }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-item>
      <ion-input [(ngModel)]="valorFiltro" type="text" placeholder="Ingresa nombre/cuenta/medidor "
        (input)="cargarRegistros()"></ion-input>
    </ion-item>

    <!-- Registros -->
    <div class="record-container" *ngIf="registros.length > 0">
      <ion-card *ngFor="let registro of registros; let i = index" (mousedown)="startDrag($event, i)"
        (mousemove)="draggingCard($event)" (mouseup)="stopDrag()" [class.dragging]="dragging"
        [style.top.px]="dragging ? offsetY : 0" [style.left.px]="dragging ? offsetX : 0" button>
        <ion-card-content>
          <p><strong>Nro. Sec:</strong> {{ registro.SECTOR }} <strong>Nro. Cuenta:</strong> {{ registro.NRO_CUENTA }}
          </p>
          <p>{{ registro.CONSUMIDOR }}</p>
          <p><strong>Nro. Med:</strong> {{ registro.NRO_MEDIDOR }}</p>
          <p>{{ registro.TARIFA }}</p>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Mensaje de alerta -->
    <div class="footer" *ngIf="registros.length === 0 && rutaSeleccionada">
      <ion-text>
        <p>No se encontraron registros para la ruta seleccionada.</p>
      </ion-text>
    </div>
  </div>
</ion-content>